/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
 button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #e10303;
  background-image: url('../img/food-background.png');
  background-position: center center;
  background-size: cover;
  font-family: "Chocolate Bar Demo";
  color: #fff;
  font-size: 20px;
  width: 35%;
  margin: 0 auto;
 
  @include sm{
    width: 100%;
    margin: 0px;
  }
  img{
      display: block;
      margin: 0 auto;
      margin-top: 5vh;
      margin-bottom: 6vh;
  }

  .chosen-restaurant{
    text-align: center;
  }

  .filter-wrapper{
      display: flex;
      justify-content: space-around;

      .filter-button{
        font-family: 'Chocolate Bar Demo';
        background: none;
        border-color: transparent;
        font-size: 20px;
        color: #fff;
        width: 55px;
      }
      .filter-button:active{
        border: solid;
        transform: none;
        outline: none;
      }


      .selected-button{
        border: #fff solid 1px;
        border-radius: 10px;
      }
  }

  .shuffle-button{
    font-family: "Chocolate Bar Demo";
    display: block;
    margin:  0 auto;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #E10303;
    font-size: 20px;
    width: 192px;
    height: 62px;
    margin-top: 5vh;


  }


}
